.friends .friends__plus {
  padding: 20px 0px;
  margin: 20px 0px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}

.friends .friends__title {
  margin-bottom: 10px;
  color: #808080;
  font-size: 14px;
}
.friend__column .friend__now-listening {
  font-size: 14px;
  color: #808080;
}

.friends__list .friends__friend {
  margin-bottom: 10px;
}
