.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0px 20px;
}

.header__plus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.header__plus .header-title {
  cursor: pointer;
}

.header__plus .header-title:nth-child(2) {
  font-weight: 700;
}

.header-wrapper {
  position: fixed;
  background-color: #f5f6f7;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header .header__title {
  font-size: 20px;
  font-weight: 700;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
