.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #666666;
}
.status-bar i {
  font-size: 14px;
}

span.status-bar__battery-level {
  margin-left: 5px;
}
