@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700&display=swap");
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";
@import "plus.css";

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  color: #1a1a1a;
  padding: 0px;
  padding-top: 115px;
  font-family: "Gothic A1", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main {
  padding: 0px 20px;
  animation: up 0.5s ease-in-out;
}
